<div class="page-header">
  <% if user_signed_in? and current_user.is_admin? %>
    <%= link_to new_membership_path, :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Membership
    <% end %>
  <% end %>
  <h1>Listing memberships</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>User</th>
            <th>Valid from</th>
            <th>Duration</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @memberships) do |membership| %>
            <td><%= membership.user_id %></td>
            <td><%= membership.valid_from %></td>
            <td><%= membership.duration %></td>
            <td><%= link_to 'Show', membership %></td>
        <td><%= link_to 'Edit', edit_membership_path(membership) %></td>
        <td><%= link_to 'Destroy', membership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
