<div class="page-header">
  <%= link_to memberships_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-chevron-left"></span>
    Back
  <% end %>
  <% if current_user and current_user.is_admin? %>
    <%= link_to edit_membership_path(@membership), :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <% end %>
  <% end %>
  <h1>Show membership</h1>
</div>

<dl class="dl-horizontal">
  <dt>User:</dt>
  <dd><%= @membership.user.username %> (<%= @membership.user_id %>)</dd>

  <dt>Valid from:</dt>
  <dd><%= @membership.valid_from.strftime("%d %B, %Y") %></dd>

  <dt>Duration:</dt>
  <dd><%= @membership.duration %> months</dd>

  <dt>Price paid:</dt>
  <dd><%= @membership.pretty_price_paid %></dd>

  <dt>Cancelled?</dt>
  <dd><%= @membership.cancellation_date ? "Yes" : "No" %></dd>

</dl>
