<div class="page-header">
	<h1><%= @user.username %></h1>
	<p>Joined <%= @user.created_at.strftime("%B %Y") %>.</p>
</div>

<dl class="dl-horizontal">
	<!-- User profile -->
	<div class="user-profile">
		<% if not @user.try(:website).blank? %>
			<dt>Website:</dt>
			<dd><%= website_clickable(@user) %></dd>
		<% end %>
		<% if not @user.try(:about).blank? %>
			<dt>About <%= @user.username %>:</dt>
			<dd><%= simple_format @user.about %></dd>
		<% end %>
	</div>
</dl>

<dl class="dl-horizontal">
	<!-- User membership information -->
	<% if current_user and ((current_user == @user) or (current_user.is_admin?)) %>
		<dt><strong>Account type:</strong></dt>
		<dd><%= @user.user_type %></dd>
		<% if @user.has_membership? || @user.has_daypass? || @user.membership_lapsed? || @user.user_type == "Admin" %>
			<dt><strong>Expiry date:</strong></dt>
			<dd><% begin %>
				<%= @user.expiry_date.strftime("%e %B, %Y") %>
			<% rescue NoMethodError %>
				No current membership.
			<% end %></dd>
		<% end %>
		<dt></dt><dd>&nbsp;</dd>
		<% if @user.has_membership? and @user.is_recurring? %>
			<dt></dt>
			<dd>(Automatic renewal)</dd>
			<dt></dt>
			<dd><%= link_to "Cancel my membership", edit_membership_path(@user.recurring_membership), :class => 'btn btn-danger' %></dd>
		<% elsif @user.has_membership? %>
		<dt></dt>
		<dd><%= link_to "Extend my membership", memberships_path, :class => 'btn btn-default' %> 
			<%= link_to "Cancel my membership", edit_membership_path(@user.last_membership), :class => 'btn btn-danger' %></dd>
		<% elsif @user.membership_lapsed? %>
		<dt></dt>
		<dd><%= link_to "Renew my membership", memberships_path, :class => 'btn btn-success' %></dd>
		<% else %>
		<dt></dt>
		<dd><%= link_to "Buy a membership", memberships_path, :class => 'btn btn-success' %></dd>
		<% end %>
	<% end %>
</dl>

<% if current_user and current_user.is_admin? %>
	<h3>Memberships</h3>
	<%= memberships_as_table(@user.memberships) %>
<% end %>

<% if current_user and (current_user.is_admin? or current_user == @user) %>
	<h3>Checkins</h3>
	<%= checkins_as_table(@user.checkins) %>
<% end %>