<!DOCTYPE html>
<html>
<head>
	<%= display_meta_tags :site => 'Hackerspace Adelaide Membership' %>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<%= link_to raw("<b>Hackerspace</b> Adelaide"), root_url, :class => 'navbar-brand' %>
			</div>
		
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li><%= link_to 'Membership', '#' %></li>
					<li><%= link_to 'Blog', 'http://hackerspace-adelaide.org.au/blog' %></li>
					<li><%= link_to 'Wiki', 'http://hackerspace-adelaide.org.au/wiki' %></li>
					<li><%= link_to 'Google Group', 'https://groups.google.com/forum/#!forum/hackerspace-adelaide' %></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><%= button_to 'Sign in', new_user_session_path, :method => 'get', :class => 'btn btn-default navbar-btn' %></li>
					<li><%= button_to 'Sign up', new_user_registration_path, :method => 'get', :class => 'btn btn-default navbar-btn' %></li>
				</ul>
			</div>
		</div> <!-- container -->
	</nav>

	<div class="container">
		<%= render partial: "shared/flash_messages", flash: flash %>
		<%= yield %>
		<%= render partial: "shared/footer" %>
	</div>

</body>
</html>
